html.dark {
  background-color: rgb(26, 28, 34);
}

div.hint-block {
  width: 150px;
  height: 150px;
  margin: auto;
}

div.reveal-block {
  width: 275px;
  height: 75px;
  margin: auto;
}

a.link {
  text-decoration: underline;
}
